        /* External Style Sheet */


form{
    background-color: aquamarine;
    text-align: center;
    padding: 10px 0px;
    margin-left: 0%;
    border: 1px double darkcyan;
}

label{
    padding: 1px;
    margin: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
input{
    margin: 6px;
    padding: 6px;
    border-radius: 20px;
    margin-left:10px;
}



#userNumber{
    margin-left:0px;
    
}

button{
    background-color: rgb(47, 196, 255);
    height: 30px;
    border-radius: 20px;
    margin: 6px 0;

}


